<%if (@post.comments.any?)%>
<table>
  <thead>
  <tr>
    <th>Body</th>
    <th>User</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @post.comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.author %></td>
        <td><%if current_user.try(:admin?)%>
              <%= link_to 'Edit', edit_post_comment_path(@post,comment) %> |
              <%= link_to 'Destroy', post_comment_path(@post, comment),
                          data: {:confirm => 'Are you sure?'}, :method => :delete %>
          <%end%>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%end%>